<!DOCTYPE html>

<html>
    <head>
        <style>
            th, td {
                border: 1px solid black;
                padding:10px;
            }
            table {
                border-collapse: collapse;

              }
        </style>
        <meta charset="utf-8">
        <title>Users</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% comment %} <link rel="stylesheet" href=""> {% endcomment %}
 
    </head>
    <body>

<center>
<table>
       <div> 
        <tr>
          <th>User Id</th>  
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>  
          <th>Date Of Birth</th>
          <th>Profile Picture</th>
          <th>Address Line 1</th>
          <th> Address Line 2</th>
          <th>City</th>
          <th>State</th>
          <th>Country</th>
          <th>Hobby Name</th>
          <th> Edit& Update </th>
        </tr>
    </div>
    <div>
        <tr>
            <td>1</td>  
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>  
            <td>Date Of Birth</td>
            <td>Profile Picture</td>
            <td>Address Line 1</td>
            <td> Address Line 2</td>
            <td>City</td>
            <td>State</td>
            <td>Country</td>
            <td>Hobby Name</td>
            <td><a href="#" > Edit </a></td>
        </tr>
    </div>
</table>
</center>
        
        {% comment %} <script src="" async defer></script> {% endcomment %}
    </body>
</html>